<!DOCTYPE html>
<html lange="{{ .Site.LanguageCode }}">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123791358-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-123791358-1');
    </script>

    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "css.html" . }}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#F39200",
          "text": "#ffffff"
        },
        "button": {
          "background": "#4FC1EA",
          "text": "#fff"
        }
      },
      "theme": "edgeless",
      "position": "top",
      "static": true
    })});
    </script>
  </head>
  <body>
    <!-- Preloader -->
    <div id="preloader">
      <div id="status"></div>
    </div>

    {{ block "main" . }}
    {{ partial "hero.html" . }}
    {{ partial "section1.html" . }}
    {{ partial "section2.html" . }}
    {{ partial "section3.html" . }}
    {{ partial "section4.html" . }}
    {{ partial "section5.html" . }}
    {{ partial "footer.html" . }}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>
    {{ end }}

    {{ partial "javascript.html" . }}
  </body>
</html>