{{- $main_navigation  := .Site.Params.main_navigation }}
{{- $sections := index $main_navigation "sections" }}
<nav id="navbar-clone" class="navbar is-fresh is-transparent" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="{{ "images/logos/fresh-alt.svg" | relURL }}" alt="" width="112" height="28">
      </a>
    </div>

    <div id="cloned-navbar-menu" class="navbar-menu is-fixed">

      <div class="navbar-end">
        {{- range $sections }}
        <a href="{{ .link }}" class="navbar-item is-secondary">
          {{ if .is_big }}<span class="button signup-button rounded secondary-btn raised">{{ end }}
          {{ .title }}
          {{ if .is_big }}</span>{{ end }}
        </a>
        {{- end }}
      </div>

    </div>
  </div>
</nav>